.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 22px;
}

@media (max-width: 600px) {
  .header {
    align-items: stretch;
    flex-direction: column;
    gap: 12px;
  }
}
